<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Node.js by Michał Wanta</title>
        <link rel="stylesheet" type="text/css" media="screen" href="../css/style.css" charset="utf-8">
	</head>
    <body>
        <h1>Upload file</h1>
        <form action="/upload" enctype="multipart/form-data" method="post">
            <label>File title</label>
            <input type="text" name="title">
            <br>
            <label>Filek</label>
            <input type="file" name="upload" multiple="multiple"><br>
            <input type="submit" value="Send">
        </form>
    </body>
</html>